<section class="banner">
  <div class="container">
    <div class="banner__container">
      <div class="banner__img">
        <picture>
          <source srcset="./img/banner.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/banner.jpg"
            class="image"
            width="376"
            height="398"
            alt="Фото тента на грузовике"
          />
        </picture>
      </div>
      <div class="banner__content">
        <h2 class="title1 banner__title">Сроки <span>изготовления</span></h2>
        <div class="banner__grid">
          <div class="banner__item b-item">
            <div class="b-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#sewing"></use>
              </svg>
            </div>
            <p class="b-item__title desc1 desc1--400">пошив<br />автотента</p>
            <p class="b-item__date title3"><span>от</span> 1 дня</p>
          </div>
          <div class="banner__item b-item">
            <div class="b-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#gear"></use>
              </svg>
            </div>
            <p class="b-item__title desc1 desc1--400">ремонт<br />автотента</p>
            <p class="b-item__date title3"><span>от</span> 1 часа</p>
          </div>
          <div class="banner__item b-item">
            <div class="b-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#welding"></use>
              </svg>
            </div>
            <p class="b-item__title desc1 desc1--400">
              изготовление<br />каркаса
            </p>
            <p class="b-item__date title3"><span>от</span> 1 дня</p>
          </div>
          <div class="banner__item b-item">
            <div class="b-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#repair"></use>
              </svg>
            </div>
            <p class="b-item__title desc1 desc1--400">ремонт<br />каркаса</p>
            <p class="b-item__date title3"><span>от</span> 1 часа</p>
          </div>
        </div>

        <div class="banner__bottom">
          <p class="desc1 desc1--light banner__extra">
            Мы не заставим вас ждать!
          </p>
          <button class="btn btn--big btn-reset banner__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
