<section class="cost">
  <div class="container">
    <h2 class="title1 cost__title">Стоимость ремонта прицепов</h2>
    <table class="cost__table table">
      <colgroup>
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>услуга</th>
          <th>критерии</th>
          <th>цена</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ремонт тента (бок) - прямой порез</td>
          <td>1 п/м на 10 см</td>
          <td>700 руб.</td>
        </tr>
        <tr>
          <td>Ремонт тента (крыша)</td>
          <td>1 п/м на 10 см</td>
          <td>900 руб.</td>
        </tr>
        <tr>
          <td>Ремонт отверстия</td>
          <td>от 1 до 10 см</td>
          <td>150 руб.</td>
        </tr>
        <tr>
          <td>Заплатка под люверсы двойная</td>
          <td>1 шт.</td>
          <td>150 руб.</td>
        </tr>
        <tr>
          <td>Материал для ремонта тентов</td>
          <td>1 м.кв.</td>
          <td>600 руб.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
