<section class="cost">
  <div class="container">
    <div class="cost__block">
      <h2 class="title1 cost__title">Стоимость ремонта тентов</h2>
      <table class="cost__table table">
        <colgroup>
          <col />
          <col />
          <col />
        </colgroup>
        <thead>
          <tr>
            <th>услуга</th>
            <th>критерии</th>
            <th>цена</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ремонт тента (бок) - прямой порез</td>
            <td>1 п/м на 10 см</td>
            <td>700 руб.</td>
          </tr>
          <tr>
            <td>Ремонт тента</td>
            <td>1 п/м на 10 см</td>
            <td>700 руб.</td>
          </tr>
          <tr>
            <td>Дополнительный ремонт тента</td>
            <td>1 м.кв.</td>
            <td>500 руб.</td>
          </tr>
          <tr>
            <td>Снятие тента</td>
            <td>до 6 метров</td>
            <td>800 руб.</td>
          </tr>
          <tr>
            <td>Надеть тент</td>
            <td>до 6 метров</td>
            <td>1200 руб.</td>
          </tr>
          <tr>
            <td>Снятие тента</td>
            <td>6,5-8 метров</td>
            <td>1200 руб.</td>
          </tr>
          <tr>
            <td>Ремонт тента</td>
            <td>1 п/м на 10 см</td>
            <td>700 руб.</td>
          </tr>
          <tr>
            <td>Дополнительный ремонт тента</td>
            <td>1 м.кв.</td>
            <td>500 руб.</td>
          </tr>
          <tr>
            <td>Снятие тента</td>
            <td>до 6 метров</td>
            <td>800 руб.</td>
          </tr>
          <tr>
            <td>Надеть тент</td>
            <td>до 6 метров</td>
            <td>1200 руб.</td>
          </tr>
          <tr>
            <td>Снятие тента</td>
            <td>6,5-8 метров</td>
            <td>1200 руб.</td>
          </tr>
          <tr>
            <td>Ремонт тента</td>
            <td>1 п/м на 10 см</td>
            <td>700 руб.</td>
          </tr>
          <tr>
            <td>Дополнительный ремонт тента</td>
            <td>1 м.кв.</td>
            <td>500 руб.</td>
          </tr>
          <tr>
            <td>Снятие тента</td>
            <td>до 6 метров</td>
            <td>800 руб.</td>
          </tr>
          <tr>
            <td>Надеть тент</td>
            <td>до 6 метров</td>
            <td>1200 руб.</td>
          </tr>
          <tr>
            <td>Снятие тента</td>
            <td>6,5-8 метров</td>
            <td>1200 руб.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cost__desc desc2 desc2--400">
      <p>
        Мы&nbsp;используем современные материалы, совместимые с&nbsp;ПВХ
        и&nbsp;тентовыми тканями, что гарантирует прочность и долговечность
        восстановленного изделия. В&nbsp;нашем арсенале&nbsp;&mdash; все
        необходимое оборудование для выполнения ремонта как в&nbsp;стационарных
        условиях, так и&nbsp;с&nbsp;выездом на&nbsp;место стоянки автомобиля.
        аждый заказ сопровождается консультацией, быстрой оценкой стоимости
        и&nbsp;сроков работ. Наш опыт позволяет оперативно возвращать авто тенты
        в рабочее состояние, продлевая срок их&nbsp;службы. На&nbsp;все работы
        предоставляется гарантия, подтверждающая наше качество
        и&nbsp;ответственность. Заказывая ремонт авто ента у&nbsp;нас,
        вы&nbsp;получаете профессиональное восстановление тента, его
        герметичность и&nbsp;надежную защиту груза в&nbsp;любых условиях
        эксплуатации.
      </p>
    </div>
  </div>
</section>
