<section class="faq">
  <div class="container faq__container">
    <h2 class="faq__title title1 centered">Часто задаваемые вопросы</h2>
    <ul class="list-reset faq__items">
      <li class="faq__item faq-item">
        <div class="faq-item__header">
          <p class="faq-item__question desc1">
            Комплексный ремонт и ТО автомобилей
          </p>
          <button class="btn-reset faq-item__btn btn-arrow">
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-item__body">
          <div class="faq-item__content">
            <div class="faq-item__header faq-item__header--answer">
              <p class="desc1 faq-item__capture">
                Сервис ремонта автотентов в Москве “АвтоТентСервис” 
              </p>
              <button
                class="btn-reset faq-item__btn btn-arrow btn-arrow--reverse"
              >
                <svg class="">
                  <use xlink:href="img/sprite.svg#arr-down"></use>
                </svg>
              </button>
            </div>
            <p class="desc3 desc3--400 faq-item__desc">
              Мы оказываем комплексное техобслуживание грузовых машин и фур, а
              также прицепов и полуприцепов. Если ваш автомобиль имеет
              технические неполадки, нуждается в ремонте и техническом
              обслуживании — позвоните нам или оставьте заявку на сайте.
            </p>
          </div>
        </div>
      </li>
      <li class="faq__item faq-item">
        <div class="faq-item__header">
          <p class="faq-item__question desc1">
            Ремонт прицепов и полуприцепов в Москве
          </p>
          <button class="btn-reset faq-item__btn btn-arrow">
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-item__body">
          <div class="faq-item__content">
            <div class="faq-item__header faq-item__header--answer">
              <p class="desc1 faq-item__capture">
                Сервис ремонта автотентов в Москве “АвтоТентСервис” 
              </p>
              <button
                class="btn-reset faq-item__btn btn-arrow btn-arrow--reverse"
              >
                <svg class="">
                  <use xlink:href="img/sprite.svg#arr-down"></use>
                </svg>
              </button>
            </div>
            <p class="desc3 desc3--400 faq-item__desc">
              Мы оказываем комплексное техобслуживание грузовых машин и фур, а
              также прицепов и полуприцепов. Если ваш автомобиль имеет
              технические неполадки, нуждается в ремонте и техническом
              обслуживании — позвоните нам или оставьте заявку на сайте.
            </p>
          </div>
        </div>
      </li>
      <li class="faq__item faq-item">
        <div class="faq-item__header">
          <p class="faq-item__question desc1">
            Ремонт каркасов для грузовых автомобилей и прицепов в Москве
          </p>
          <button class="btn-reset faq-item__btn btn-arrow">
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-item__body">
          <div class="faq-item__content">
            <div class="faq-item__header faq-item__header--answer">
              <p class="desc1 faq-item__capture">
                Сервис ремонта автотентов в Москве “АвтоТентСервис” 
              </p>
              <button
                class="btn-reset faq-item__btn btn-arrow btn-arrow--reverse"
              >
                <svg class="">
                  <use xlink:href="img/sprite.svg#arr-down"></use>
                </svg>
              </button>
            </div>
            <p class="desc3 desc3--400 faq-item__desc">
              Мы оказываем комплексное техобслуживание грузовых машин и фур, а
              также прицепов и полуприцепов. Если ваш автомобиль имеет
              технические неполадки, нуждается в ремонте и техническом
              обслуживании — позвоните нам или оставьте заявку на сайте.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
