<footer class="footer">
  <div class="footer__top">
    <div class="container footer__row">
      <div class="footer__logo logo logo--white">
        <a href="./" class="logo__logo"> Транс<span>Тент</span> </a>
        <div class="logo__text">
          Производство и ремонт автотентов грузовых автомобилей
        </div>
      </div>

      <nav class="footer__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#">Пошив автотентов</a>
          </li>
          <li class="nav__item">
            <a href="#">Ремонт автотентов</a>
          </li>
          <li class="nav__item">
            <a href="#">Установка автотентов</a>
          </li>
        </ul>
      </nav>

      <nav class="footer__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#">Ремонт прицепов</a>
          </li>
          <li class="nav__item">
            <a href="#">Наши работы</a>
          </li>
          <li class="nav__item">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="header__buttons">
        <div class="header__socials socials">
          <ul class="socials__list list-reset">
            <li>
              <a href="#" target="_blank">
                <img src="./img/svg/tg.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/svg/whatsapp.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div>
          <a href="tel:+74959616862" class="header__tel header__tel--white"
            >+7 495 961-68-62</a
          >
        </div>
        <button class="btn-reset link-btn link-btn--white footer__link">
          заказать звонок
        </button>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__row desc3 desc3--400">
      <small class="footer__link">
        Информация, размещенная на сайте, не является публичной офертой.
      </small>

      <small class="footer__link">
        <a href="#" target="_blank"> Политика </a>
      </small>

      <small class="footer__link footer__link--white">
        разработка сайта <a href="#" target="_blank">olpy.ru</a>
      </small>
    </div>
  </div>
</footer>
