<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__logo logo">
        <a href="./" class="logo__logo"> Транс<span>Тент</span> </a>
        <div class="logo__text">
          Производство и ремонт автотентов грузовых автомобилей
        </div>
      </div>

      <button class="btn btn-reset header__btn">Оставить заявку</button>

      <div class="header__socials socials">
        <ul class="socials__list list-reset">
          <li>
            <a href="#" target="_blank">
              <img src="./img/svg/tg.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/svg/whatsapp.svg" alt="" />
            </a>
          </li>
        </ul>
        <div class="socials__text desc3 desc3--400 socials__text--desktop">
          мы сейчас <span>online</span>
        </div>
      </div>

      <div class="header__right">
        <div class="header__tt">
          <img src="./img/svg/247.svg" alt="" />
        </div>
        <div class="header__buttons">
          <div>
            <a href="tel:+74959616862" class="header__tel"
              >+7 495 <span>961-68-62</span></a
            >
          </div>
          <button class="btn-reset link-btn header__link">
            заказать звонок
          </button>
        </div>
      </div>

      <button
        class="burger"
        data-burger
        aria-label="Открыть меню"
        aria-expanded="false"
      >
        <span class="burger__line"></span>
      </button>
    </div>
    <nav class="header__menu" data-menu>
      <ul class="menu">
        <li class="menu__item" data-menu-item>
          <a href="#">Пошив автотентов</a>
        </li>
        <li class="menu__item" data-menu-item>
          <a href="#">Ремонт автотентов</a>
        </li>
        <li class="menu__item" data-menu-item>
          <a href="#">Ремонт прицепов</a>
        </li>
        <li class="menu__item menu__item--dropdown" data-menu-item>
          <a href="#">Наши работы </a>
          <ul class="menu__submenu">
            <li class="menu__item"><a href="#">Пошив автотентов</a></li>
            <li class="menu__item"><a href="#">Ремонт автотентов</a></li>
            <li class="menu__item"><a href="#">Ремонт прицепов</a></li>
          </ul>
        </li>
        <li class="menu__item" data-menu-item><a href="#">Блог</a></li>
        <li class="menu__item" data-menu-item><a href="#">Контакты</a></li>
      </ul>
      <div class="header__socials header__socials--mob socials">
        <ul class="socials__list list-reset">
          <li>
            <a href="#" target="_blank">
              <img src="./img/svg/tg.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img src="./img/svg/whatsapp.svg" alt="" />
            </a>
          </li>
        </ul>
        <div class="socials__text desc3 desc3--400 socials__text--desktop">
          мы сейчас <span>online</span>
        </div>
      </div>

      <div class="menu__overlay" data-menu-overlay></div>
    </nav>
  </div>
</header>
