<section class="hero hero--tent">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">
          <div class="hero__title-inner">
            ремонт тентов

            <div class="hero__disc">
              <span>скидка 10%</span>
              для новых клиентов
            </div>
          </div>
        </h1>
        <p class="hero__subtitle">НА&nbsp;ГРУЗОВИКАХ И&nbsp;ПОЛУПРИЦЕПАХ</p>
        <ul class="list list--row hero__list">
          <li>от 1500&nbsp;руб.</li>
          <li>от 1-го&nbsp;дня</li>
          <li>работает с&nbsp;2018</li>
        </ul>
        <button class="btn-reset btn btn--big hero__btn  modal-btn">
          Оставить заявку

          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </button>
      </div>

      <div class="hero__img">
        <picture>
          <source srcset="./img/hero-tent.webp" type="image/webp" />
          <img loading="lazy" src="./img/hero-tent.png" class="image" width="835" height="441"
            alt="Фото грузовика с тентом" />
        </picture>
      </div>
    </div>

    <div class="hero__benefits">
      <div class="hero__ben ben">
        <div class="ben__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#shield-cross"></use>
          </svg>
        </div>
        <p class="desc1 ben__title">Аварийные автомобили</p>
      </div>
      <div class="hero__ben ben">
        <div class="ben__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#sword"></use>
          </svg>
        </div>
        <p class="desc1 ben__title">Порезы, протертости</p>
      </div>
      <div class="hero__ben ben">
        <div class="ben__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#drop"></use>
          </svg>
        </div>
        <p class="desc1 ben__title">
          Любые течи по всей площади тентовых&nbsp;конструкций
        </p>
      </div>
    </div>
  </div>
</section>