<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">
          <div class="hero__title-inner">
            Изготовление тентов

            <div class="hero__disc">
              <span>скидка 10%</span>
              для новых клиентов
            </div>
          </div>
        </h1>
        <p class="hero__subtitle">ДЛЯ ГРУЗОВИКОВ И&nbsp;ПОЛУПРИЦЕПОВ</p>
        <ul class="list list--row hero__list">
          <li>от 1500&nbsp;руб.</li>
          <li>от 1-го&nbsp;дня</li>
          <li>работает с&nbsp;2018</li>
        </ul>
        <button class="btn-reset btn btn--big hero__btn">
          Оставить заявку

          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </button>
      </div>

      <div class="hero__img">
        <picture>
          <source srcset="./img/hero1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/hero1.png"
            class="image"
            width="835"
            height="441"
            alt="Фото грузовика с тентом"
          />
        </picture>
      </div>
    </div>

    <div class="hero__benefits">
      <div class="hero__ben ben">
        <div class="ben__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#shield"></use>
          </svg>
        </div>
        <p class="desc1 ben__title">Гарантия 1 год</p>
        <p class="desc2 desc2--400 ben__desc">
          Контроль на каждом этапе. Гарантия на продукцию и работы.
        </p>
      </div>
      <div class="hero__ben ben">
        <div class="ben__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#map"></use>
          </svg>
        </div>
        <p class="desc1 ben__title">Бесплатный выезд</p>
        <p class="desc2 desc2--400 ben__desc">
          Выезжаем к клиенту на ремонт тентов по Москве и МО.
        </p>
      </div>
      <div class="hero__ben ben">
        <div class="ben__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
        </div>
        <p class="desc1 ben__title">4000+</p>
        <p class="desc2 desc2--400 ben__desc">
          Накрыто полуприцепов, грузовых авто и пологов.
        </p>
      </div>
    </div>
  </div>
</section>
