<section class="info">
  <div class="container">
    <div class="info__container">
      <div class="info__content">
        <h2 class="title2 info__title">
          Ремонт и изготовление <span>автотентов</span> в Москве
        </h2>

        <div class="desc2 desc2--400 info__desc">
          <p>
            Грузовые автомобили страдают из-за износа тентов. Грузовики разных
            типов часто оборудованы автотентами на кузове. Это могут быть тенты
            самых разных конструкций и устанавливаться они могут на кузовах
            грузовиков, на полуприцепах и прицепах к ним. Главная задача
            автотента — защита перевозимых грузов от негативного воздействия
            погодных условий. Этот вид покрытия используется намного чаще, чем
            цельнометаллический кузов. Он намного легче и оказывает меньшее
            давление на подвеску автомобиля. Современная конструкция
            автомобильного тента на грузовых машинах и полуприцепах имеет
            сдвижные опоры. <span>Большинство полуприцепов</span> европейского
            типаоборудуется четырехсекторным тентом и при боковой загрузке 3
            стойки из 4 сдвигаются. Для их сдвижения в конструкции предусмотрены
            специальные ролики. Еще одно достоинство тента на кузов грузового
            автомобиля — стоимость его ниже, чем цельнометаллический кузов. Но,
            при этом, автотент имеет свойство со временем изнашиваться. Компания
            “АвтоТентСервис” в Москве производит ремонт автомобильных тентов, а
            также их пошив на заказ, монтаж каркасов, ремонт прицепов и
            полуприцепов, ремонт и техобслуживание грузовых и легковых
            автомобилей. 
          </p>
        </div>
      </div>
      <div class="info__content">
        <h2 class="title2 info__title">
          Изготовление и ремонт автомобильных тентов
        </h2>

        <div class="desc2 desc2--400 info__desc">
          <p>
            Много лет мы работаем с частными водителями, автопарками,
            транспортными организациями и компаниями-перевозчиками на грузовом
            транспорте.
          </p>
          <p>
            Автомобильные тенты для грузовых автомобилей и полуприцепов
            позволяют защитить кузов и перевозимые в нем грузы.
            <b>Автотенты изготавливаются</b> из брезента или ПВХ. Они устойчивы
            перед перепадами температур, выдерживают воздействие атмосферных
            осадков, имеют способность к продуванию и длительной эксплуатации.
          </p>
        </div>

        <h3 class="title3 info__title info__title--small">
          <span>Производит ремонт</span> автомобильных тентов для:
        </h3>
        <div class="desc2 desc2--400 info__desc">
          <ul>
            <li>фур и полуприцепов;</li>
            <li>каркасных автомобилей;</li>
            <li>зерновозов;</li>
            <li>ГАЗелей;</li>
          </ul>
          <p>
            и других видов транспорта, в которых используется автотент. Срок
            ремонт составляет всего час. А это значит, что если вы отправляетесь
            в рейс и ваш автотент пришел в негодность, то вы можете заехать в
            наш сервис и всего через час ехать дальше. Мы устраняем протертости
            и порезы, любые течи через тент, а также беремся за ремонт тентов в
            аварийном состоянии. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
