<section class="order">
  <div class="container">
    <h2 class="title1 order__title">Порядок работ</h2>

    <div class="order__steps">
      <div class="order-item order__item">
        <div class="order-item__fig">
          <span><span>01</span></span>
          шаг
        </div>
        <p class="desc2 desc2--400 order-item__desc">
          Позвоните нам или<br />
          оставьте заявку на сайте.
        </p>
      </div>
      <div class="order-item order__item">
        <div class="order-item__fig">
          <span><span>02</span></span>
          шаг
        </div>
        <p class="desc2 desc2--400 order-item__desc">
          Вы предоставляете автотранспорт для осмечивания.
        </p>
      </div>
      <div class="order-item order__item">
        <div class="order-item__fig">
          <span><span>03</span></span>
          шаг
        </div>
        <p class="desc2 desc2--400 order-item__desc">
          Согласовываем стоимость и сроки. Подписываем с&nbsp;Вами Договор
          на&nbsp;выполнение работ.
        </p>
      </div>
      <div class="order-item order__item">
        <div class="order-item__fig">
          <span><span>04</span></span> шаг
        </div>
        <p class="desc2 desc2--400 order-item__desc">
          Вы вносите предоплату<br />50% для б/н расчетов или 30% при оплате
          наличными.
        </p>
      </div>
      <div class="order-item order__item">
        <div class="order-item__fig">
          <span><span>05</span></span> шаг
        </div>
        <p class="desc2 desc2--400 order-item__desc">
          Мы производим работы с учётом<br />
          всех возможных скрытых дефектов,<br />
          выявленных при демонтаже.<br />
          Дефекты фиксируются фото-видео-материалами и Актом работ по скрытым
          дефектам.
        </p>
      </div>
      <div class="order-item order__item">
        <div class="order-item__fig">
          <span><span>06</span></span> шаг
        </div>
        <p class="desc2 desc2--400 order-item__desc">
          Приемка выполненных работ и окончательный расчет по Договору<br />
          с&nbsp;учетом выполненных работ по<br />
          устранению скрытых дефектов,<br />
          если они были
        </p>
      </div>
    </div>
  </div>
</section>
