<section class="personal">
  <div class="container">
    <h1 class="title1 personal__title">Автомобильный тенты на заказ</h1>
    <div class="personal__container">
      <div class="personal__item p-item">
        <div class="p-item__img">
          <picture>
            <source srcset="./img/personal/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/personal/01.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото тента на грузовике"
            />
          </picture>
        </div>
        <div class="p-item__content">
          <p class="p-item__title">
            <span>тенты на</span>
            грузовики
          </p>
          <button class="btn btn-reset p-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="personal__item p-item">
        <div class="p-item__img">
          <picture>
            <source srcset="./img/personal/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/personal/02.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото тента на полуприцепе"
            />
          </picture>
        </div>
        <div class="p-item__content">
          <p class="p-item__title">
            <span>тенты на</span>
            полуприцепы
          </p>
          <button class="btn btn-reset p-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="personal__item p-item">
        <div class="p-item__img">
          <picture>
            <source srcset="./img/personal/03.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/personal/03.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото тента на легковом прицепе"
            />
          </picture>
        </div>
        <div class="p-item__content">
          <p class="p-item__title">
            <span>тенты на</span>
            легковые прицепы
          </p>
          <button class="btn btn-reset p-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="personal__item p-item">
        <div class="p-item__img">
          <picture>
            <source srcset="./img/personal/04.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/personal/04.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото тента на газеле"
            />
          </picture>
        </div>
        <div class="p-item__content">
          <p class="p-item__title">
            <span>тенты на</span>
            газель
          </p>
          <button class="btn btn-reset p-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="personal__item p-item p-item--polog">
        <div class="p-item__img">
          <picture>
            <source srcset="./img/personal/05.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/personal/05.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото полога на грузовике"
            />
          </picture>
        </div>
        <div class="p-item__content">
          <p class="p-item__title">
            <span>пологи на</span> самосвальные грузовики и полуприцепы
          </p>
          <button class="btn btn-reset p-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="personal__item p-item p-item--polog">
        <div class="p-item__img">
          <picture>
            <source srcset="./img/personal/06.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/personal/06.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото полога на грузовике"
            />
          </picture>
        </div>
        <div class="p-item__content">
          <p class="p-item__title">
            <span>пологи на</span> самосвал с механизмом накрутки
          </p>
          <button class="btn btn-reset p-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
