<div class="popup popup--form">
  <div class="popup__overlay"></div>
  <div class="popup__window">
    <button class="btn-reset popup__close" type="button" aria-label="Закрыть">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.5 1.5L1.5 14.5M1.5 1.5L14.5 14.5" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <form class="popup__form">
      <h2 class="popup__title title2"> Оставить заявку</h2>
      <p class="desc2 desc2--400 popup__desc">
        уточняющие текст
      </p>
      <form action="#" class="form popup__form">
        <label class="form__label">
          <input class="form__input input-name" type="text" name="name" placeholder="Имя">
        </label class="form__label">
        <label class="form__label">
          <input class="form__input input-tel" type="tel" name="phone" placeholder="Ваш телефон">
        </label>
        <button type="submit" class="btn btn-reset btn--big form__btn">Оставить заявку</button>
      </form>
      <div class="popup__note desc2 desc2--400 centered">свяжемся с Вами в течение 20 минут</div>
    </form>
  </div>
</div>
<div class="popup popup--thx">
  <div class="popup__overlay"></div>
  <div class="popup__window">
    <button class="btn-reset popup__close" type="button" aria-label="Закрыть">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.5 1.5L1.5 14.5M1.5 1.5L14.5 14.5" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <form class="popup__form">
      <h2 class="popup__title title2"> Заявка отправлена</h2>
      <p class="desc2 desc2--400 popup__note">
        свяжемся с Вами в течении 20 минут
      </p>

  </div>
</div>