<section class="price">
  <div class="container">
    <h2 class="title1 price__title">Стоимость изготовления</h2>

    <div class="price__container">
      <div class="price__item price-item">
        <div class="price-item__header">
          <p class="price-item__title desc1">
            Panama 900
            <span>(Ю.Корея)</span>
          </p>
          <div class="price-item__flag">
            <img src="./img/corea.webp" aria-hidden="true" alt="" />
          </div>
        </div>

        <div class="price-item__img">
          <picture>
            <source srcset="./img/price/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/price/01.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото тента Panama 900"
            />
          </picture>
        </div>

        <div class="price-item__content">
          <ul class="list price-item__list">
            <li>
              <div>срок службы - <span>7 лет</span></div>
            </li>
            <li>
              <div>
                гарантийный срок - <span>1 год</span> или
                500&nbsp;000&nbsp;км&nbsp;пробега
              </div>
            </li>
            <li>
              <div>стоимость ткани - <span>от 300 руб</span> за кв.м</div>
            </li>
            <li>
              <div>стоимость работ - <span>от 380 руб</span> за кв.м</div>
            </li>
          </ul>

          <button class="btn btn-reset price-item__btn">
            Заказать
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="price__item price-item">
        <div class="price-item__header">
          <p class="price-item__title desc1">
            Linkor 750, Sealtex 750
            <span>(Ю.Корея)</span>
          </p>
          <div class="price-item__flag">
            <img src="./img/corea.webp" aria-hidden="true" alt="" />
          </div>
        </div>

        <div class="price-item__img">
          <picture>
            <source srcset="./img/price/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/price/02.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото тента Panama 900"
            />
          </picture>
        </div>

        <div class="price-item__content">
          <ul class="list price-item__list">
            <li>
              <div>срок службы - <span>5 лет</span></div>
            </li>
            <li>
              <div>
                гарантийный срок - <span>1 год</span> или
                500&nbsp;000&nbsp;км&nbsp;пробега
              </div>
            </li>
            <li>
              <div>стоимость ткани - <span> от 250 руб</span> за кв.м</div>
            </li>
            <li>
              <div>стоимость работ - <span> от 360 руб</span> за кв.м</div>
            </li>
          </ul>

          <button class="btn btn-reset price-item__btn">
            Заказать
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="price__item price-item">
        <div class="price-item__header">
          <p class="price-item__title desc1">
            Panama 900
            <span>(Ю.Корея)</span>
          </p>
          <div class="price-item__flag">
            <img src="./img/corea.webp" aria-hidden="true" alt="" />
          </div>
        </div>

        <div class="price-item__img">
          <picture>
            <source srcset="./img/price/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/price/01.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото тента Panama 900"
            />
          </picture>
        </div>

        <div class="price-item__content">
          <ul class="list price-item__list">
            <li>
              <div>срок службы - <span>7 лет</span></div>
            </li>
            <li>
              <div>
                гарантийный срок - <span>1 год</span> или
                500&nbsp;000&nbsp;км&nbsp;пробега
              </div>
            </li>
            <li>
              <div>стоимость ткани - <span>от 300 руб</span> за кв.м</div>
            </li>
            <li>
              <div>стоимость работ - <span>от 380 руб</span> за кв.м</div>
            </li>
          </ul>

          <button class="btn btn-reset price-item__btn">
            Заказать
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
