<section class="quality">
  <div class="container">
    <div class="quality__container">
      <h2 class="title1 quality__title">Качество наших материалов</h2>
      <div class="quality__content">
        <ul class="list-reset quality__list">
          <li class="desc2 quality__item">
            <div><b>Не подвержен </b> гниению</div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Огнеупорен, негорюч</b></div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Устойчив</b> к воздействию масел и бензина</div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Легко</b> моется</div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Лёгкий</b> вес</div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Проф. труба</b> для каркаса толщиной <b>от 2-3 мм</b></div>
          </li>
        </ul>
        <ul class="list-reset quality__list">
          <li class="desc2 quality__item">
            <div>Весь материал <b>сертифицирован</b></div>
          </li>
          <li class="desc2 quality__item">
            <div>Поверенное годами <b>качество</b></div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Более</b> 30 видов расцветок</div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Качественная</b> эргономичная <b>фурнитура</b></div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Устойчив</b> к температурам от -40 до +70</div>
          </li>
          <li class="desc2 quality__item">
            <div><b>Устойчив</b> к выгоранию</div>
          </li>
        </ul>
      </div>
      <div class="quality__img">
        <picture>
          <source srcset="./img/quality.webp" type="image/webp" />
          <img loading="lazy" src="./img/quality.png" class="image" width="723" height="468" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>