<section class="service">
  <div class="container">
    <h2 class="title1 service__title">Наши услуги</h2>
    <div class="service__container">
      <div class="service__item service-item">
        <div class="service-item__img">
          <picture>
            <source srcset="./img/service/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/service/01.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото услуги"
            />
          </picture>
        </div>
        <div class="service-item__content">
          <p class="title3 service-item__title">Пошив автотентов</p>
          <ul class="list service-item__list">
            <li>пошив автотентов</li>
            <li>сдвижные тенты, шторы</li>
            <li>пологи для самосвалов</li>
            <li>тенты для легковых машин и прицепов к ним</li>
          </ul>
          <button class="btn btn-reset service-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="service__item service-item">
        <div class="service-item__img">
          <picture>
            <source srcset="./img/service/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/service/02.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото услуги"
            />
          </picture>
        </div>
        <div class="service-item__content">
          <p class="title3 service-item__title">Ремонт автотентов</p>
          <ul class="list service-item__list">
            <li>аварийные автомобили</li>
            <li>порезы, протертости</li>
            <li>любые течи по всей площади тентовых конструкций</li>
          </ul>
          <button class="btn btn-reset service-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="service__item service-item">
        <div class="service-item__img">
          <picture>
            <source srcset="./img/service/03.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/service/03.jpg"
              class="image"
              width="364"
              height="205"
              alt="Фото услуги"
            />
          </picture>
        </div>
        <div class="service-item__content">
          <p class="title3 service-item__title">
            Изготовление и ремонт каркасов для автомобилей
          </p>
          <ul class="list service-item__list">
            <li>для грузовых автомобилей</li>
            <li>для прицепов легковых автомобилей</li>
          </ul>
          <button class="btn btn-reset service-item__btn">
            Оставить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
