<section class="text">
  <div class="container">
    <div class="text__container">
      <div class="text__desc desc2 desc2--400">
        <p>
          Ремонт прицепов и&nbsp;полуприцепов в&nbsp;Москве&nbsp;&mdash; это
          профессиональное восстановление и&nbsp;бслуживание прицепной техники:
          диагностика, устранение любых неисправностей ходовой части, оси,
          тентов, электрики, замена деталей и&nbsp;агрегатов. Работы выполняются
          быстро и качественно с&nbsp;использованием надежных комплектующих,
          возможен выезд к&nbsp;клиенту. Гарантируем исправность
          и&nbsp;безопасность вашей техники. Мы&nbsp;используем современные
          материалы, совместимые с&nbsp;ПВХ и&nbsp;тентовыми тканями, что
          гарантирует прочность и долговечность восстановленного изделия.
          В&nbsp;нашем арсенале&nbsp;&mdash; все необходимое оборудование для
          выполнения ремонта как в&nbsp;стационарных условиях, так
          и&nbsp;с&nbsp;выездом на&nbsp;место стоянки автомобиля. аждый заказ
          сопровождается консультацией, быстрой оценкой стоимости и&nbsp;сроков
          работ. Наш опыт позволяет оперативно возвращать авто тенты в рабочее
          состояние, продлевая срок их&nbsp;службы.
        </p>
      </div>

      <div class="text__img">
        <picture>
          <source srcset="./img/banner3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/banner3.jpg"
            class="image"
            width="380"
            height="242"
            alt="Фото тента"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
