<section class="work">
  <div class="container">
    <div class="work__header">
      <h2 class="title1 work__title">Наши работы</h2>

      <div class="work__control">
        <button class="btn-reset btn-arrow work__arr work__arr--prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-down"></use>
          </svg>
        </button>
        <button class="btn-reset btn-arrow work__arr work__arr--next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-down"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="work__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="work__item">
            <img src="" alt="Работа 1" class="work__img" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="work__item">
            <img src="" alt="Работа 2" class="work__img" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="work__item">
            <img src="" alt="Работа 3" class="work__img" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="work__item">
            <img src="" alt="Работа 4" class="work__img" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="work__item">
            <img src="" alt="Работа 5" class="work__img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
