:root {
  --font-family: "Inter Tight", sans-serif;
  --content-width: 118rem;
  --container-offset: 2rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --belyy: #fff;
  --chernyy-100: #000216;
  --chernyy-90: #1a1c2e;
  --chernyy-80: #333545;
  --chernyy-70: #4d4e5c;
  --chernyy-60: #666773;
  --chernyy-50: #80818b;
  --chernyy-40: #999aa2;
  --chernyy-30: #b3b4ba;
  --chernyy-20: #ccccd0;
  --chernyy-10: #e6e6e8;
  --chernyy-6: #f0f0f1;
  --chernyy-4: #f5f5f6;
  --siniy-100: #3ba2e2;
  --siniy-90: #4fabe5;
  --siniy-80: #62b4e7;
  --siniy-70: #76beeb;
  --siniy-60: #89c7ed;
  --siniy-50: #9dd1f1;
  --siniy-40: #b0daf3;
  --siniy-30: #c5e3f7;
  --siniy-20: #d8ecf9;
  --siniy-10: #ecf6fd;
  --siniy-6: #f3fafe;
  --krasnyy-100: #ff3223;
  --krasnyy-90: #ff4739;
  --krasnyy-80: #ff5b4f;
  --krasnyy-70: #ff7065;
  --krasnyy-60: #ff847b;
  --krasnyy-50: #ff9991;
  --krasnyy-40: #ffada7;
  --krasnyy-30: #ffc2bd;
  --krasnyy-20: #ffd6d3;
  --krasnyy-10: #ffebe9;
  --krasnyy-6: #fff3f2;
  --zelenyy-100: #22d96e;
  --zelenyy-90: #39dd7d;
  --zelenyy-80: #4ee18b;
  --zelenyy-70: #65e59a;
  --zelenyy-60: #7ae8a8;
  --zelenyy-50: #91ecb7;
  --zelenyy-40: #a7f0c5;
  --zelenyy-30: #bdf4d4;
  --zelenyy-20: #e9fcf1;
  --zelenyy-10: #e9fcf1;
  --zelenyy-6: #f2fdf7;
}
